<div class="directory-nav">
      <div class="people-search">
        <input ng-model="searchText" type="text" class="form-control" id="directory-search" placeholder="search">
      </div>
    </form>
  </div>

<table class="table-hover people-table">
  <tr>
    <th ng-click="orderProp = 'name'; reverse = !reverse">Name</th>
    <th>Email Address</th>
    <th ng-click="orderProp = 'organization' ">Organization</th>
  </tr>
  <tr ng-repeat="person in people | orderBy: orderProp | filter : searchText">
    <td class="col-left" ng-if="person.summary"><a  href="/directory/#/person/[[person.$id]]">[[ person.fname ]] [[person.lname]]</a></td>
    <td class="col-left" ng-if="!person.summary">[[ person.fname ]] [[person.lname]]</td>
    <td class="col-mid"><a href="mailto:[[person.email]]">[[person.email]]</td>
    <td>[[person.org]]</td>
  </tr>
</table>
