---
layout: directory
title: Directory
---

<h1 class="directory-title">Project Directory</h1>

<div ng-app="directoryApp" ng-controller="DirectoryCtrl" class="directory">
  <div class="directory-nav">
    <h2 class="filters-title">Views: </h2>
    <button ng-click="order('organization'); predicate = false; summary = false; projects = false" class="btn btn-filter">Organizations</button>
    <button ng-click="projects = true; summary = !summary; projects = true" class="btn btn-filter">Projects</button>
    <button ng-click="order('name') predicate = false; summary = false" class="btn btn-filter">People</button>
    <form class="form-inline search-form">
      <div class="form-group">
        <input ng-model="searchText" type="text" class="form-control" id="directory-search" placeholder="search"></input>
      </div><i class="fa fa-search"></i>
      
    </form>
  </div>


  <table class="table table-hover">
    <tr>
      <th class="ng-show">Name</th>
      <th class="ng-show">Organization</th>
    </tr>
    <tr ng-repeat-start="x in parsedEntries | orderBy: predicate : reverse | filter: searchText " ng-click="summary = !summary">
      <td ng-hide="">
      <td ng-hide="projects" class="ng-show">[[ x.name ]]</td>
      <td ng-hide="projects" class="ng-show">[[ x.organization ]]</td>
    </tr>
    <tr ng-repeat-end ng-show="summary && x.summary" class="ng-hide project-summary" ng-click="projects = false">
      <td>Project Details</td>
      <td>[[ x.summary ]]</td>
    </tr>
  </table>
</div>