.project-description{
  & h3{
    & i{
      color: lighten(#8D2475, 5%);
      margin-right: 0.25em;
      font-size: 1em;
    }
  }
}

.form-intro{
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 1em;
}

.form-wrapper{
  text-align: center;
  width: 100%;
  background-color: lighten(#8D2475, 63%);
  max-width: 1000px;
  min-width: 300px;
  margin: auto;
  margin-top: 1.5em;
  padding-top: 1.5em;
  & form{
    padding: 2em;
    margin: auto;
    width: 60%;
    min-width: 350px;
    @media screen and (max-width: 700px){
      padding: 0.5em;
    }
    & label{
      text-align: left;
      width: 35%;
      // margin-right: 1em;
    }
    & select, input, textarea{
      width: 50%;
      float: right;
    }
    & textarea{
      height: 4em;
    }
    & select{
      vertical-align: bottom;
    }
    
    & [type="submit"]{
      margin-top: 1.5em;
      display: block;
      float: none;
      margin: auto;
      width: auto;
      font-size: 1.5em;
      background-color: #429FD2;
      border: 2px solid #429FD2;
      color: white;
      transition: all 0.2s ease-in-out;
      &:hover{
        color: #429FD2;
        background-color: white;
      }
    }
  }
  }